<div class="uk-alert-primary" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p id="notice"><%%= notice %></p>
</div>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'uk-button uk-button-primary' %> |
<%%= link_to 'Back', <%= index_helper %>_path, class: 'uk-button uk-button-default' %>
