<%= form_with(model: todo, local: true, class: 'uk-form-horizontal') do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field uk-margin">
    <%= form.label :title, class: 'uk-form-label uk-text-right uk-margin-right' %>
    <div class="uk-form-controls">
      <%= form.text_field :title, class: 'uk-input uk-width-large' %>
    </div>
  </div>

  <div class="field uk-margin">
    <%= form.label :content, class: 'uk-form-label uk-text-right uk-margin-right' %>
    <div class="uk-form-controls">
      <%= form.text_area :content, class: 'uk-textarea uk-width-large' %>
    </div>
  </div>

  <div class="field uk-margin">
    <%= form.label :due_date, class: 'uk-form-label uk-text-right uk-margin-right' %>
    <div class="uk-form-controls">
      <%= form.date_select :due_date,  {},class: 'uk-select uk-form-width-small' %>
    </div>
  </div>

  <div class="field uk-margin">
    <%= form.label :completed_at, class: 'uk-form-label uk-text-right uk-margin-right' %>
    <div class="uk-form-controls">
      <%= form.datetime_select :completed_at, class: '' %>
    </div>
  </div>

  <div class="actions uk-flex uk-flex-right">
    <%= form.submit nil, class: 'uk-button uk-button-primary' %>
  </div>
<% end %>
