<div class="uk-container uk-padding">
  <% if notice.present? %>
  <div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p id="notice"><%= notice %></p>
  </div>
  <% end %>

  <h1 class="uk-h3 uk-heading-bullet">Todos</h1>

  <ul class="uk-subnav uk-subnav-divider">
    <li>
      <%= link_to 'New Todo', new_todo_path, class: 'uk-link-muted' %>
    </li>
  </ul>


  <table class="uk-table uk-table-divider uk-table-small">
    <thead>
      <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Due date</th>
          <th>Completed at</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @todos.each do |todo| %>
        <tr>
            <td><%= todo.title %></td>
            <td><%= todo.content %></td>
            <td><%= todo.due_date %></td>
            <td><%= todo.completed_at %></td>
            <td><%= link_to 'Show', todo, class: 'uk-link-muted' %></td>
          <td><%= link_to 'Edit', edit_todo_path(todo), class: 'uk-link-muted' %></td>
          <td><%= link_to 'Destroy', todo, method: :delete, class: 'uk-link-muted', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>