<%%= form_with(model: <%= model_resource_name %>, local: true, class: 'uk-form-horizontal') do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="field uk-margin">
<% if attribute.password_digest? -%>
    <%%= form.label :password %>
    <div class="uk-form-controls">
      <%%= form.password_field :password, class: '<%= field_style(attribute.field_type) %>' %>
    </div>
  </div>

  <div class="field uk-margin">
    <%%= form.label :password_confirmation %>
    <div class="uk-form-controls">
      <%%= form.password_field :password_confirmation, class: '<%= field_style(attribute.field_type) %>' %>
    </div>
<% else -%>
    <%%= form.label :<%= attribute.column_name %>, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, <%= attribute.field_type == :date_select ? ' {},' : '' %>class: '<%= field_style(attribute.field_type) %>' %>
    </div>
<% end -%>
  </div>

<% end -%>
  <div class="actions uk-flex uk-flex-right">
    <%%= form.submit nil, class: 'uk-button uk-button-primary' %>
  </div>
<%% end %>
