<div class="uk-container uk-padding">
  <h1 class="uk-h3 uk-heading-bullet">Editing <%= singular_table_name.titleize %></h1>

  <ul class="uk-subnav uk-subnav-divider">
    <li>
      <%%= link_to 'Show', @<%= singular_table_name %>, class: 'uk-link-muted' %>
    </li>
    <li>
      <%%= link_to 'Back', <%= index_helper %>_path, class: 'uk-link-muted' %>
    </li>
  </ul>

  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>